<footer class="footer clearfix">
    <div class="footer-content">
        <div class="copyright">
            &copy; 2023 Jumpgroup. All rights reserved.
        </div>
        <div class="website-link">
            <a href="https://www.jumpgroup.it">Visit our website</a>
        </div>
    </div>
</footer>
