<div class="header clearfix">
    <nav>
        <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="/"><img src="/images/logo.svg" alt="Logo"></a></li>
        </ul>
    </nav>
</div>
