// _base.scss

// Variabili per colori e dimensioni comuni
$primary-color: #FF6F61;
$secondary-color: #5E79BA;
$font-color: #2A2A2A;
$input-border-color: #ccc;
$input-background-color: #f5f5f5;
$button-background-color: $primary-color;
$button-text-color: #fff;
$button-hover-color: #5E79BA;

// Stile base per l'intero documento HTML
html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

h1 {
    color: $font-color;
    text-align: center;
    font-size: 2em; /* Adjust font size */
    margin-top: 20px; /* Adjust top margin */
}

// Stile per l'header
h2 {
  color: $primary-color;
  margin-bottom: 15px;
}

// Stile per la tabella degli utenti
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;

  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }

  th {
    background-color: $secondary-color;
    color: #fff;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  tr:hover {
    background-color: #ddd;
  }

  td:last-child {
    text-align: center;

    button {
      background-color: $button-background-color;
      color: $button-text-color;
      border: none;
      padding: 5px 10px;
      cursor: pointer;

      &:hover {
        background-color: $button-hover-color;
      }
    }
  }
}

form {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
}

// Style for input fields
input[type="text"] {
    margin-bottom: 10px;
    padding: 10px; /* Increased padding for better visibility */
    border: 1px solid $input-border-color;
    border-radius: 6px; /* Slightly rounded corners */
    background-color: $input-background-color;
    width: 100%;
    box-sizing: border-box; /* Include padding in width */
  
    &:focus {
      outline: none;
      border-color: $primary-color;
      box-shadow: 0 0 5px $primary-color; /* Add a subtle box-shadow on focus */
    }
  }
  
  // Style for buttons
  button {
    margin-bottom: 10px;
    padding: 10px 20px; /* Adjusted padding for better button appearance */
    border: none;
    border-radius: 6px;
    background-color: $button-background-color;
    color: $button-text-color;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition */
  
    &:hover {
      background-color: darken($button-background-color, 10%); /* Darken the background color on hover */
    }
  }
  

.header {
    background-color: $font-color;
    color: white;
    padding: 15px 0;

    nav {
        ul.nav-pills {
            li {
                display: inline-block;
                margin-right: 10px;

                &:last-child {
                    margin-right: 0;
                }

                a {
                    color: white;
                    text-decoration: none;
                }

                img {
                    width: 120px; /* Adjust width as needed */
                    height: auto; /* Maintain aspect ratio */
                }
            }
        }

        .text-muted {
            color: white;
            margin-top: 10px; // Adjust margin-top as needed

            img {
                vertical-align: middle;
            }
        }
    }
}

.footer {
    background-color: #333;
    color: white;
    padding: 20px;
    margin-top: 49px;
    text-align: center; /* Center-align the content */

    .footer-content {
        display: flex;
        justify-content: space-between; /* Distribute content equally */
        align-items: center; /* Vertically align items */

        .copyright {
            flex: 1; /* Take available space */
        }

        .website-link {
            flex: 1; /* Take available space */
            text-align: right; /* Right-align the link */
            
            a {
                color: white;
                text-decoration: none;
                transition: color 0.3s ease;

                &:hover {
                    color: lightgray;
                }
            }
        }
    }
}

